<div class="container bg-secondary text-white">
    <div class="row">
        <div class="col">
            <h1>standard Heading</h1>
            <p class="text-danger">Lorem ipsum dolor sit amet consectetur adipisicing elit.
               Consequatur sunt et ad nihil ratione similique dolorem ipsum,
            id maxime asperiores?</p>
            <button mat-raised-button color="primary" type="button" class="m-3">BTN PRIMARY</button>
            <button mat-raised-button color="warn" type="button" class="m-3">BTN DANGER</button>
        </div>
    </div>
</div>

<!--End of container-->
<div class="container-fluid bg-warning text-dark py-5">
    <div class="row">
        <div class="col">
            <div class="display-1">Display-1</div>
            <div class="display-4">Display-4</div>
            <p class="text-success lead">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                Ea enim ratione sunt ut cum possimus, corporis tempore facilis culpa, dolores eum 
                necessitatibus saepe quo incidunt beatae itaque nam iure in libero obcaecati soluta similique?
                 Maiores quo eaque laborum corporis sed?
            </p>

            <button mat-raised-button class="text-danger p-2 m-2">btn dark</button>
            <button mat-raised-button class="text-info p-2 m-2" color="primary">btn blue</button>
            <button mat-raised-button class="text-dark p-2 m-2" color="accent">btn success</button>
        </div>
    </div>
</div>
<!--end of the container-fluid-->

<!--Section covers the whole background but does not act as a container-fluid-->

<section class="bg-dark py-5" id="skills">
    <div class="container">
   <div class="row height">
       <div class="col text-center">
           <h1 class="text-white">Section example</h1>
           <p class="display-4 text-warning">Paragraph Display</p>
           <p class="text-info p-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
               Debitis quibusdam nesciunt a nihil magni veritatis minima eveniet culpa recusandae eos?</p>
        <button mat-raised-button color="primary" class="text-white m-3">btn primary </button>
        <button mat-raised-button color="warn" class="text-white m-3">btn success  </button>
        <button mat-raised-button color="accent" class="text-white m-3">btn warning </button>
            </div>
   </div>
    </div>
</section>
<!--end of section -->

<section class="bg-light">
    <div class="section">
        <div class="row height justify-content-center align-items-center">
            <div class="col-9 ">
                <h1 class="display-2 text-danger text-uppercase ">UDEMY</h1>
                <p class="text-muted lead">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Tempore in necessitatibus eius eveniet fugit voluptas enim praesentium inventore amet quas.</p>

                <a href="#" mat-raised-button class="text-danger text-uppercase p-2">Exercise</a>
                <a href="#" mat-raised-button class="text-dark text-uppercase p-2 mx-2">Explore</a>
            </div>
        </div>
    </div>
</section>
<!--end of second section-->
<section class="bg-primary py-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center bg-danger">
                <i class="fas fa-home fa-3x text-light"></i>
                <h1>Home</h1>
            </div>
            <div class="col text-center bg-info">
                    <i class="fas fa-home fa-3x text-light"></i>
                    <h1>Home</h1>
 
            </div>
            <div class="col text-center bg-dark">
                    <i class="fas fa-home fa-3x text-light"></i>
                    <h1>Home</h1>
            </div>
            <div class="col text-center bg-success">
                    <i class="fas fa-home fa-3x text-light"></i>
                    <h1>Home</h1>
            </div>
        </div>
    </div>
</section>
<!--End  of first Grid-->

<section class="bg-primary py-5">
    <div class="container">
        <div class="row">
            <div class="col text-center bg-danger">
                <i class="fas fa-home fa-3x text-light"></i>
            </div>
        </div>
    </div>
</section>
<!--End of section-->
<section class="bg-primary py-5">
    <div class="container">
        <div class="row">
            <div class="col-8 bg-secondary mb-3 text-center">
                <i class="fas fa-star fa-3x"></i>
                <h3>star</h3>
            </div>
            <div class="col-4 bg-light mb-3 text-center">
                <i class="fas fa-star fa-3x"></i>
                <h3>star</h3>
            </div>
        </div>
    </div>
</section>
<!--end of second grid -->

<section class="bg-white py-5">
    <div class="row">
        <!--single col-->
        <div class="col-sm-4">
            <i class="fab fa-html5 text-info fa-3x"></i>
            <h2 class="text-capitalize text-dark py-3">learn html5</h2>
            <p class="text-muted">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates beatae corporis similique aut repellendus doloremque dolor earum distinctio est ducimus.
            </p>
        </div>
        <!--end of single col-->
         <!--single col-->
         <div class="col-sm-4">
                <i class="fab fa-css3 text-info fa-3x"></i>
                <h2 class="text-capitalize text-dark py-3">learn CSS3</h2>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates beatae corporis similique aut repellendus doloremque dolor earum distinctio est ducimus.
                </p>
            </div>
            <!--end of single col-->
             <!--single col-->
        <div class="col-sm-4">
                <i class="fab fa-js text-info fa-3x"></i>
                <h2 class="text-capitalize text-dark py-3">learn Javascript</h2>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates beatae corporis similique aut repellendus doloremque dolor earum distinctio est ducimus.
                </p>
            </div>
            <!--end of single col-->
    </div>
</section>

<section class="bg-danger py-5">
    <!--last section-->
        <div class="row">
            <!--single col-->
            <div class="col-sm-6 col-md-4">
                <i class="fab fa-html5 text-white fa-3x"></i>
                <h2 class="text-capitalize text-dark py-3">learn html5</h2>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates beatae corporis similique aut repellendus doloremque dolor earum distinctio est ducimus.
                </p>
            </div>
            <!--end of single col-->
             <!--single col-->
             <div class="col-sm-6 col-md-4">
                    <i class="fab fa-css3 text-white fa-3x"></i>
                    <h2 class="text-capitalize text-dark py-3">learn CSS3</h2>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates beatae corporis similique aut repellendus doloremque dolor earum distinctio est ducimus.
                    </p>
                </div>
                <!--end of single col-->
                 <!--single col-->
            <div class="col-sm-6 col-md-4">
                    <i class="fab fa-js text-white fa-3x"></i>
                    <h2 class="text-capitalize text-dark py-3">learn Javascript</h2>
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates beatae corporis similique aut repellendus doloremque dolor earum distinctio est ducimus.
                    </p>
                </div>
                <!--end of single col-->
        </div>
    </section>
